ol{
    list-style: none;
    width: 500px;
    -webkit-padding-start: 0px;
}

li{
    padding: 10px;
    border : 2px solid gray;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-bottom: 10px;
}